body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://t4.ftcdn.net/jpg/08/18/36/19/360_F_818361990_TObyrdubJ8Syv6pBV0qZV1n8H4xwB5UF.jpg");
    margin: 0;
    color: #FFFFFF;
    text-align: center;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 120px;
}

.hero .underline {
    border-bottom: 2px solid #FFFFFF;
}

nav {
    position: fixed;
    background-color: #000000ff;
    width: 100%;
    top: 0;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li {
    font-size: larger;
    padding: 0 50px;
}

li:hover {
    font-size: x-large;
}

a {
    text-decoration: none;
    color: inherit;
}

#articles {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #e9eef5;
    color: #000000ff;
}

h2 {
    font-size: 60px;
    padding: 80px 0;
    margin: 0;
}

#articles .underline {
    border-bottom: 2px solid #000000ff;
}

.article {
    display: flex;
    border-radius: 10px;
    padding-bottom: 150px;
    
}

.image {
    height: 200px;
    width: 200px;
    margin-right: 50px;
    background-color: #FFFFFF;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.tag {
    border: 1px solid #000000ff;
    border-radius: 20px;
    padding: 3px 10px;
}

.title h3 {
    font-size: 30px;
    width: 600px;
    text-align: left;
}

#about {
    background-color: #000000ff;
    color: #FFFFFF;
    padding-bottom: 100px;
}

#about h2 {
    padding-bottom: 20px;
}

#about p {
    text-align: center;
    padding: 10px 200px 0 200px;
    font-size: larger;
}

.portrait {
    height: 200px;
}

.socials {
    margin-top: 70px;
}

.socials li{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
#about .underline {
    border-bottom: 2px solid #FFFFFF;
}

#contact {
    background-color: #FFFFFF;
    color: #000000ff;
    padding-bottom: 100px;
}

#contact .underline {
    border-bottom: 2px solid #000000ff;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    color: #000000ff;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000ff;
    color: #FFFFFF;
}

footer {
    background-color: #000000ff;
    padding: 3px;
}