img {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

body {
    background-color: #121212;
    color: antiquewhite;
    font-size: 20px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comment {
    margin-left: 5%;
    margin-top: 20px;
    border-bottom: 2px solid antiquewhite;
}

#commentInput {
  width: 85%;
  height: 50px;
  font-size: 20px;
  background-color: #121212;
  color: antiquewhite;
}

button {
    width: 10%;
    height: 50px;
}